@{
    ViewData["Title"] = "Home Page";
}

<h1 class="mt-5">Buscar vuelos</h1>
<br />
<div class="row">
    <div class="col-3">
        <input type="text" class="form-control" placeholder="Origen" />
    </div>
    <div class="col-3">
        <input type="text" class="form-control" placeholder="Destino" />
    </div>
    <div class="col-3">
        <input type="date" class="form-control" />
    </div>
    <div class="col-3">
        <button class="btn btn-primary">Buscar vuelo</button>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Fecha</th>
                    <th>Acción</th>
                </tr>
            </thead>
        </table>
    </div>
</div>